DemuxKit=MiFish_9bp_tags_custom_BC
CustomBarcodesSequences=/home/reindert/MinION_Data_Tidy/Daniel/Sequences_MiFish_9bp_tags.fa
CustomBarcodeArrangement=/home/reindert/MinION_Data_Tidy/Daniel/Dorado_arrangement_file_MiFish_9bp_tags_DvB.toml
MinimumLength=150
MaximumLength=240
FWPrimer=GTYGGTAAAWCTCGTGCCAGC
RVPrimer=CAAACTRGGATTAGATACCCCACTAT
ErrorRate=0.1
OverlapFWPrimer=17
OverlapRVPrimer=21
Q=10
Dorado=/home/reindert/bin/dorado/dorado-1.3.0/bin/
Cutadapt=/home/reindert/miniconda3/pkgs/cutadapt-4.9-py312hf67a6ed_1/bin
VSEARCH=/path/vsearch/bin/
BLAST_DB=/home/reindert/Blast_databases/Blast_DB_core_20260319/core_nt
BLAST=/path/BLAST_2.17/bin/
TargetTaxa=33208
Threads=24
